<div id="endereco">
    <strong>Logradouro: {{end.tipo_logradouro}} {{end.logradouro}}</strong><br />
    <strong>Bairro: {{end.bairro}} </strong><br />
    <strong>Cidade: {{end.cidade}} </strong><br />
    <strong>CEP: {{end.cep}} </strong><br />
</div>